body{
	background-color: rgb(37, 37, 37);
    color: white;

}

#overview { display: none }

.fallback-message {
    font-family: sans-serif;
    line-height: 1.3;

    width: 780px;
    padding: 10px 10px 0;
    margin: 20px auto;

    border: 1px solid #E4C652;
    border-radius: 10px;
    background: #EEDC94;
}

.fallback-message p {
    margin-bottom: 10px;
}

.impress-supported .fallback-message {
    display: none;
}

.nav{
	position: fixed;
	background-color: #F5F7F6;
    border-radius: 20px;
    line-height: 20px;
    font-weight: bold;
    right: 0;
    opacity: 0.5;
}
.nav a{
	text-decoration: none;
    text-align: center;
    color: black;
    font-size: 14px;
    margin: 20px;
}

.index{
	width: 900px;
	text-align: center;
	color: white;
	font-size: 24px;
}

 .me{
	width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 150px;
    margin: 0 auto;;
}
.step .me img{
	width: 300px;
    height: 300px;
}
.size{
background-image: url();
}

.step.about{
	background-color: #5F2323;
    border-radius: 10px;
    width: 700px;
    padding: 20px 40px;
}
.step.about fieldset{
    border-radius: 10px;
    border: 5px solid #E8300A;
    color: #FDFDFD;
    margin: 20px;
}

.step.about fieldset legend{
    font-family: "华文彩云";
}
.about .back{
    background-color: #4E3232;
    border-radius: 10px;
    border: 1px solid;
    font-size: 18px;
}
.about .p{
    text-align: center;
    font-size: 28px;
    margin: 0;
    color: #0AF7CD;
}

.step.major{
    width: 600px;
    color: white;
    text-align: center;
}
.title{
    font-size: 38px;
    font-family: Lato,"Microsoft YaHei",sans-serif;
    text-shadow: 1px 2px #887E7E,2px 4px #6D6F6F;
}
.major-content{
    display: inline-block;
    background-color: #0894B1;
    padding: 10px 15px;
    font-size: 24px;
    border-radius: 5px;
    margin: 20px;
}

.tool{
    width: 650px;
    text-align: center;

}
@-webkit-keyframes pulse {
 from {
   opacity: 0.0;
   font-size: 100%;
 }
 to {
   opacity: 1.0;
   font-size: 200%;
 }
}
@-moz-keyframes pulse {
 from {
   opacity: 0.0;
   font-size: 100%;
 }
 to {
   opacity: 1.0;
   font-size: 200%;
 }
}

@-o-keyframes pulse {
 from {
   opacity: 0.0;
   font-size: 100%;
 }
 to {
   opacity: 1.0;
   font-size: 200%;
 }
}

.anim{
    -webkit-animation-name: pulse;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-direction: alternate;

  -moz-animation-name: pulse;
  -moz-animation-duration: 2s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: ease-in-out;
  -moz-animation-direction: alternate;

  -o-animation-name: pulse;
  -o-animation-duration: 2s;
  -o-animation-iteration-count: infinite;
  -o-animation-timing-function: ease-in-out;
  -o-animation-direction: alternate;
}



.tool-b{
    width: 200px;
    display: inline-block;
    margin: 20px;
    border-radius: 10px;
    background-color: #A5737A;
    color: #E1E2B2;
}
.tool-p{
    font-size: 24px;
    font-family: "华文彩云";
    
}

.float{
    float: left;
}
.float .mar{
    margin-right: 40px;
}
.tool a{
    text-decoration: blink;
    font-size: 28px;
    color: #08C5F3;
}
.float a:hover{
    color: red;
}

.d{
     font-size: 28px;
    color: #06DDF5;
}


.hint {
    display: none;

    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;

    background: rgba(0,0,0,0.5);
    color: #383636;
    text-align: center;

    font-size: 28px;

    z-index: 100;

    opacity: 0;

    -webkit-transform: translateY(400px);
    -moz-transform:    translateY(400px);
    -ms-transform:     translateY(400px);
    -o-transform:      translateY(400px);
    transform:         translateY(400px);

    -webkit-transition: opacity 1s, -webkit-transform 0.5s 1s;
    -moz-transition:    opacity 1s,    -moz-transform 0.5s 1s;
    -ms-transition:     opacity 1s,     -ms-transform 0.5s 1s;
    -o-transition:      opacity 1s,      -o-transform 0.5s 1s;
    transition:         opacity 1s,         transform 0.5s 1s;
}

.impress-enabled .hint { display: block }

.impress-on-bored .hint {
    opacity: 1;

    -webkit-transform: translateY(0px);
    -moz-transform:    translateY(0px);
    -ms-transform:     translateY(0px);
    -o-transform:      translateY(0px);
    transform:         translateY(0px);

    -webkit-transition: opacity 1s 5s, -webkit-transform 0.5s 4.5s;
    -moz-transition:    opacity 1s 5s,    -moz-transform 0.5s 4.5s;
    -ms-transition:     opacity 1s 5s,     -ms-transform 0.5s 4.5s;
    -o-transition:      opacity 1s 5s,      -o-transform 0.5s 4.5s;
    transition:         opacity 1s 5s,         transform 0.5s 4.5s;
}



